Repository and-murray/wharf-spaces: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy-firestore-rules, deploy-storage-rules, deploy-functions

.gitlab-ci.yml:

image: node:18

variables:
  GIT_STRATEGY: clone
  ENV:
    value: 'undefined'
    description: 'Environment to deploy to. development or production. If undefined the branch will determine.'
  DEPLOY_FUNCTIONS:
    value: 'false'
    description: 'Should we deploy the functions code? true or false'
  DEPLOY_RULES:
    value: 'false'
    description: 'Should we deploy the firestore rules code? true or false'

stages:
  - test
  - deploy

before_script:
  - apt-get update -qq && apt-get install
  - apt-get install git-crypt
  - echo "$CRYPT_KEY" | base64 -d > key-file
  - git-crypt unlock key-file
  - source ./setEnv.sh

tests:
  stage: test
  script:
    - yarn install
    - yarn installFirebaseFunctions
    - yarn lint
    - yarn test
    - yarn test-functions
  rules:
    - if: $CI_MERGE_REQUEST_ID
      when: always
    - if: $CI_COMMIT_BRANCH == "main" || $CI_COMMIT_BRANCH == "develop" || $CI_COMMIT_BRANCH =~ /^release\/v[\d]+.[\d]+.[\d]+/
      when: always
    - if: $CI_PIPELINE_SOURCE == "web"
      when: always

qa-builds:
  image: ruby:3.0.0
  stage: deploy
  before_script:
    - apt-get update -qq && apt-get install
    - apt-get install git-crypt
    - curl -fsSL https://deb.nodesource.com/setup_18.x | bash - &&\
    - apt-get install -y nodejs
    - npm install --global yarn
    - source ./installAndroid.sh
    - export ANDROID_HOME=$PWD/android-sdk-linux
    - echo "$CRYPT_KEY" | base64 -d > key-file
    - git-crypt unlock key-file
    - source ./setEnv.sh
    - gem install bundler
    - bundle install
  script:
    - yarn install
    - yarn installFirebaseFunctions
    - yarn android:qa:distribute
  rules:
    - if: $CI_MERGE_REQUEST_ID
      when: manual
      allow_failure: true
    - if: $CI_COMMIT_BRANCH == "main" || $CI_COMMIT_BRANCH == "develop"
      when: always
    - if: $CI_PIPELINE_SOURCE == "web"
      when: always

deploy-firestore-rules:
  stage: deploy
  script:
    - yarn install
    - source ./setFirebaseProject.sh
    - yarn deployFirestoreRules
  rules:
    - if: $CI_COMMIT_BRANCH == "develop"
      changes:
        - firestore.rules
    - if: $DEPLOY_RULES == "true" && $CI_PIPELINE_SOURCE == "web"
    - if: $CI_COMMIT_BRANCH == "main" || $CI_COMMIT_BRANCH =~ /^release\/v[\d]+.[\d]+.[\d]+/
      when: manual

deploy-storage-rules:
  stage: deploy
  script:
    - yarn install
    - source ./setFirebaseProject.sh
    - yarn deployStorageRules
  rules:
    - if: $CI_COMMIT_BRANCH == "develop"
      changes:
        - storage.rules
    - if: $DEPLOY_RULES == "true" && $CI_PIPELINE_SOURCE == "web"
    - if: $CI_COMMIT_BRANCH == "main" || $CI_COMMIT_BRANCH =~ /^release\/v[\d]+.[\d]+.[\d]+/
      when: manual

deploy-functions:
  stage: deploy
  script:
    - yarn install
    - yarn installFirebaseFunctions
    - source ./setFirebaseProject.sh
    - yarn deployFirebaseFunctions
  rules:
    - if: $CI_COMMIT_BRANCH == "develop"
      changes:
        - functions/**/*
    - if: $DEPLOY_FUNCTIONS == "true" && $CI_PIPELINE_SOURCE == "web"
    - if: $CI_COMMIT_BRANCH == "main" || $CI_COMMIT_BRANCH =~ /^release\/v[\d]+.[\d]+.[\d]+/
      when: manual

Inherit secrets
  .github/workflows/deploy.yml
  .github/workflows/develop.yml
Due: none

Set google credentials
  .github/workflows/deploy.yml
Due: none

Set env globally
  .github/workflows/deploy.yml
Due: none

Adds deploy rules
  .github/workflows/deploy.yml
  setFirebaseProject.sh
Due: none

Attempt different file location
  .github/workflows/deploy.yml
Due: none

Re-adds tests before deployment
  .github/workflows/develop.yml
Due: none

feat: deploy functions to production on merge to main
  .github/workflows/main.yml
Due: none

add retries to scheduled space allocation
  functions/package.json
  functions/src/index.ts
  functions/src/v1/Services/Scheduled/callCarAPI.ts
  functions/yarn.lock
Due: deploy-functions

revert change to cron
  functions/src/index.ts
Due: deploy-functions

Change to use environments
  .github/workflows/deploy.yml
  .github/workflows/develop.yml
  .github/workflows/main.yml
Due: none

Remove secrets
  .github/workflows/deploy.yml
  .github/workflows/develop.yml
  .github/workflows/main.yml
Due: none

Updated to pass environment
  .github/workflows/deploy.yml
  .github/workflows/develop.yml
  .github/workflows/main.yml
Due: none

Stringify
  .github/workflows/develop.yml
  .github/workflows/main.yml
Due: none

Passes environment in
  .github/workflows/develop.yml
  .github/workflows/main.yml
Due: none

Set use environment correctly
  .github/workflows/deploy.yml
Due: none

Adds checks to deployments
  .github/workflows/deploy.yml
  .github/workflows/develop.yml
Due: none

Made change to functions
  functions/src/App.ts
Due: deploy-functions

Changes to firestore rules
  firestore.rules
Due: deploy-firestore-rules

Changes to storage rules
  storage.rules
Due: deploy-storage-rules

Reverted storage rules
  storage.rules
Due: deploy-storage-rules

Removed branch name from valid runs
  .github/workflows/develop.yml
Due: none

Bumps commit version by 1000 (#55)
  android/app/build.gradle
Due: none

Feature/9 functions deploy (#57)
  .github/workflows/deploy.yml
  .github/workflows/develop.yml
  .github/workflows/distribute-apps.yml
  .github/workflows/main.yml
  firestore.rules
  functions/src/App.ts
  setEnv.sh
  setFirebaseProject.sh
Due: deploy-firestore-rules, deploy-functions

Update test.yml
  .github/workflows/test.yml
Due: none

Hotfix: Retry space allocation (#59)
  functions/package.json
  functions/src/index.ts
  functions/src/v1/Services/Scheduled/callCarAPI.ts
  functions/yarn.lock
Due: deploy-functions

fix test workflow config
  .github/workflows/test.yml
Due: none

Release/v1.1.1 (#60)
  .github/workflows/deploy.yml
  .github/workflows/develop.yml
  .github/workflows/distribute-apps.yml
  .github/workflows/main.yml
  .github/workflows/test.yml
  Gemfile
  Gemfile.lock
  android/app/build.gradle
  android/app/release.keystore
  fastlane/Fastfile
  firestore.rules
  functions/package.json
  functions/src/App.ts
  functions/src/index.ts
  functions/src/v1/Services/Scheduled/callCarAPI.ts
  functions/yarn.lock
  installAndroid.sh
  setEnv.sh
  setFirebaseProject.sh
Due: deploy-firestore-rules, deploy-functions

test deployments
  .github/workflows/distribute-apps.yml
  .github/workflows/release.yml
  fastlane/Fastfile
Due: none

Fixed syntax
  .github/workflows/develop.yml
  .github/workflows/release.yml
Due: none

Don't run on release branch
  .github/workflows/release.yml
Due: none

Run on develop
  .github/workflows/develop.yml
Due: none

Added Stringify
  .github/workflows/distribute-apps.yml
Due: none

Removed {{}}
  .github/workflows/distribute-apps.yml
Due: none

Runs on correct environment
  .github/workflows/distribute-apps.yml
Due: none

Doesn't build on this branch
  .github/workflows/develop.yml
  .gitlab-ci.yml
  fastlane/Fastfile
Due: none

update retry error condition
  functions/src/v1/Services/Scheduled/callCarAPI.ts
Due: deploy-functions

update retry error condition (#64)
  functions/src/v1/Services/Scheduled/callCarAPI.ts
Due: deploy-functions

WIP on feature/8-App-Distribute
  fastlane/Fastfile
  fastlane/README.md
  ios/MurrayDeskBooking.xcodeproj/project.pbxproj
  ios/MurrayDeskBooking/Info.plist
  ios/MurrayDeskBookingTests/Info.plist
Due: none

Removed enterprise builds and changed to adhoc
  ios/Firebase/GoogleService-Info-Dev-Enterprise.plist
  ios/MurrayDeskBooking.xcodeproj/project.pbxproj
  ios/MurrayDeskBooking/Info.plist
Due: none

Triggers on pull request into develop
  .github/workflows/pull-request.yml
Due: none
